cuda/C/bin
cuda/C/doc
cuda/C/releaseNotesData
cuda/C/tools
cuda/CUDALibraries/bin
cuda/CUDALibraries/doc
cuda/CUDALibraries/releaseNotesData
cuda/CUDALibraries/data
cuda/DirectCompute
cuda/OpenCL
cuda/doc
cuda/Documentation.html
cuda/License.txt
mpi/reduce
